.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header.-azul {
  background-color: #282c34;
}

.App-header.-verde {
  background-color: #285228;
}

.App-header.-vermelho {
  background-color: #762828;
}

.App-header.-cinza {
  background-color: #808080;
}

.App-link {
  color: #61dafb;
}
